@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$color-dark-purple: rgb(64, 64, 124);
$color-medium-purple: rgb(121, 121, 199);
$color-light-purple: rgb(248, 234, 248);

.flight-form {
  width: 900px;
  .dest {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 880px;
  }
  .dest__block {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    input {
      border: none;
      outline: none;
      text-align: left;
      background-color: transparent;
      &[type="text"] {
        border-bottom: 1px solid black;
      }
    }
    &:last-child {
      input {
        text-align: right;
        background-color: transparent;
      }
      label {        
        text-align: right;
      }
    }
  }
  .info {
    input {
      border: none;
      outline: none;
      text-align: center;
      background-color: transparent;
      &[type="text"] {
        border-bottom: 1px solid black;
      }      
    }
  }
}

.city {
  margin: 0px;
  font-size: 24px;
  font-weight: bold;
}
.airport {
  margin: 0px;
  font-size: 14px;
  font-weight: 500;
}
.time {
  margin: 0px;
  font-size: 14px;
  font-weight: bold;
}
.flight {
  text-align: center;
  margin: 0px;
  font-size: 24px;
  font-weight: bold;
}
.arrow {
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}

@mixin button {
  margin-left: 10px;
  padding: 5px;
  font-size: 14px;
  height: 30px;  
}

.save, .create {
  @include button;
  color: $color-light-purple;
  background-color: $color-medium-purple;
  border: 1px solid $color-light-purple;

}

.delete {
  @include button;
  color: $color-light-purple;
  background-color: rgb(255, 116, 116);
  border: 1px solid rgb(255, 210, 210);
}
